.header{
    padding: 22px 0 29px;
    &__wrapper{
        margin: 0 auto;
        width: calc(100% - 60px);
        max-width: $wrapper-width;
        display: flex;
        justify-content: space-between; 
    }
    &__inner{
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        &__info{
            display: flex;
            justify-content: space-between;
            column-gap: 40px;
            &__copyright{
                display: flex;
                column-gap: 15px;
            }
        }
        &__nav{
            ul{
                display: flex;
                justify-content: space-between;
                list-style: none;
            }
        }
    }
    &__item{
        text-transform: uppercase;
    }
}